.DS_Store
build/
_docshots/
_minted-*/
bibcop.tex
bibcop.pl
bibcop-phi.pl
bibcop-sodg.pl
bibcop.ret
iexec.ret
bibcop.stdout
bibcop.stderr
*.bibcop
*.zip
*.toc
bibcop.pdf
*.bbl
*.bcf
*.blg
*.glo
*.sty
*.fdb_latexmk
*.fls
*.aux
*.pug
*.log
*.run.xml
*.aux
*.pyg
*.out
*.dvi
*.idx
*.ilg
*.ind
*.exc
*.synctex.gz
*.tmp