_docshots/
_minted-*/
.DS_Store
.idea/
*.aux
*.bbl
*.bcf
*.bibcop
*.blg
*.dvi
*.exc
*.fdb_latexmk
*.fls
*.glo
*.idx
*.ilg
*.ind
*.log
*.out
*.pug
*.pyg
*.run.xml
*.sty
*.synctex.gz
*.tmp
*.toc
*.zip
bibcop.pdf
bibcop.ret
bibcop.stderr
bibcop.stdout
bibcop.tex
bibcop.tmp.pl
build/
iexec.ret
node_modules/
